<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify your account for ModernConnect</title>
</head>
<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #E0B941 ;text-decoration:none;font-weight:600">ModernConnect</a>
    </div>
    <p style="font-size:1.1em">Hello {{ user_name }},</p>
    <p>This Email is to inform you about registration of this email address on ModernConnect.<h2 style="background: #E0B941;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{ otp }}</h2>Please consider this as your One Time Password to verify this account.</p>
  <p>Ignore this message if you've not initiated this process.</p>
    <p style="font-size:0.9em;">Regards,<br />Tech for ModernConnect</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>ModernConnect</p>
      <p>Operated for and by, Students @ Modern College of Engineering</p>
      <p>Pune, India</p>
    </div>
  </div>
</div>
</body>
</html>